body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;      /* Nutzt die volle Höhe des Fensters */
    margin: 0;
    background-color: #a396ff;
    font-family: 'Courier New', Courier, monospace;
}
.container {
    background-color: #4f43d8;
    color: #a396ff;
    width: 95%;
    height: 95vh;
    padding: 10px;
    box-sizing: border-box;
    border: 4px solid #a396ff; /* Zusätzlicher Rahmen */
    box-shadow: 10px 10px 0px rgba(0,0,0,0.2); /* Retro-Schatten */
}

/* Styling für die Eingabefelder im Retro-Look */
input {
    background-color: #4f43d8;
    border: 1px solid #a396ff;
    color: #a396ff;
    font-family: 'Courier New', monospace;
    
    padding: 5px;
    margin-bottom: 15px;
    outline: none;
}

/* Der Cursor-Effekt für die Überschrift */
/* Der blinkende Block-Cursor */
.cursor {
    display: inline-block;
    width: 0.6em;          /* Breite des Blocks */
    height: 1em;           /* Höhe des Blocks */
    background-color: #a396ff; /* Gleiche Farbe wie die Schrift */
    margin-left: 5px;
    vertical-align: middle;
    animation: blink 0.8s steps(2, start) infinite;
}

.downloadArea {
    margin: 30px;
    color: white;
}

.downloadArea a {
    color: wheat;
    text-decoration: none;
}

.downloadArea a:hover {
    color: black;
    text-decoration: underline;
}

.terminal{
  font-family: Lucida Console,Lucida Sans Typewriter,monaco,Bitstream Vera Sans Mono,monospace;
  font-size: 12; 
  line-height: 2;
  margin: 1.2% 0;
  padding: 1% 2%;
  background: #171421;
  color: #D0CFCC;
}

/* Harte Blink-Animation (An/Aus ohne Übergang) */
@keyframes blink {
    to {
        visibility: hidden;
    }
}
@media (max-width: 600px) {
    .container {
        width: 95%;
        height: 95vh;
        padding: 5px;
    }

    table, tr, td {
        display: block; /* Wandelt die Tabelle in Stapel um */
        width: 100%;
    }

    td {
        padding: 5px 0;
    }

    input {
        width: 100%; /* Eingabefelder über die volle Breite */
        box-sizing: border-box;
    }
}